<footer id="footer">
        <a class="twitter" href="https://www.facebook.com/nahi.l.54" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="github" id="test" href="https://github.com/nahilahmed" target="_blank"><i class="fa fa-github"></i></a>
        <a class="freecodecamp" href="https://www.freecodecamp.org/nahilahmed" target="_blank"><i class="fa fa-fire"></i></a>
        <a href="mailto:teamrobocet@gmail.com" id="footer-name"><i class="fa fa-envelope-o" id="send-mail"></i><b>teamrobocet@gmail.com</b></a>
</footer>  
      