<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      Brand and toggle get grouped for better mobile display
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pad1" href="#">
          <i class="fab fa-twitch fa-lg"></i>
          <span style="font-size:12px;" class="company"><b>ROBOCET<b><i class="far fa-copyright fa-xs"></i></span>
        </a>
      </div>
  
      Collect the nav links, forms, and other content for toggling
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fas fa-address-card" aria-hidden="true"></i> About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Sign In<span class="caret"></span></a>
            <ul class="dropdown-menu">>
              <li><a href="/user/signin">Sign In</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user/signup">Sign Up</a></li>
            </ul>
          </li>
        </ul>
      </div>/.navbar-collapse -->
    <!-- </div>/.container-fluid -->
  <!-- </nav> --> 
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-family: Oswald;">ROBOCET</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
        </ul>
        <% if (sess.email) { %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/usersignup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
        </ul>
        <% } else { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/usersignup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/userlogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <% } %>
      </div>
    </nav> 