<!DOCTYPE html>
<html lang="en">
<head>
<title>RoboCET</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Zeta Template Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>

<body>

<div class="super_container">
	
	<!-- Header -->STIMONIALSZ

	<header class="header d-flex flex-row justify-content-end align-items-center">

		<!-- Logo -->
		<div class="logo_container mr-auto">
			<div class="logo">
				<a href="#"><img src="images/logo.png"></a>
			</div>
		</div>

		<!-- Main Navigation -->
		<nav class="main_nav justify-self-end">
			<ul class="nav_items">
				<li class="active"><a href="#"><span>home</span></a></li>
				<li><a href="#features"><span>activities</span></a></li>
				<li><a href="#aboutus"><span>about us</span></a></li>
				<li><a href="#theteam"><span>The Team</span></a></li>
				<li><a href="#contact"><span>Contact</span></a></li>
				<li><a href="userlogin"><span>Login</span></a></li>
				<li><a href="usersignup"><span>Signup</span></a></li>
			</ul>
		</nav>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<span class="hamburger_text">Menu</span>
			<span class="hamburger_icon"></span>
		</div>

	</header>

	<!-- Menu -->

	<div class="fs_menu_overlay"></div>
	<div class="fs_menu_container">
		<div class="fs_menu_shapes"><img src="images/menu_shapes.png" alt=""></div>
		<nav class="fs_menu_nav">
			<ul class="fs_menu_list">
				<li class="active"><a href="#"><span>Home</span></a></li>
				<li><a href="#features"><span>Activities</span></a></li>
				<li><a href="#aboutus"><span>About Us</span></a></li>
				<li><a href="#theteam"><span>The Team</span></a></li>
				<li><a href="#contact"><span>Contact</span></a></li>
				<li><a href="userlogin"><span>Login</span></a></li>
				<li><a href="usersignup"><span>Signup</span></a></li>
			</ul>
		</nav>
		<div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
			<ul class="fs_social">
				<li><a href="facebook.com/robocet"><i class="fab fa-pinterest trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
			</ul>
		</div>
	</div>

	<!-- Hero Slider -->
	
	<div class="home">
		<div class="hero_slider_container slider_prlx">
			<div class="owl-carousel owl-theme hero_slider">

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/drone1.jpg)"></div>
				
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									<h1 style="font-family: Oswald;">Give wings to your Aspirations</h1>
									
									</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/drone2.JPG)"></div>
					<!--<div class="main_slider_shapes"><img src="images/main_slider_shapes.png" alt="" style="width: 100% !important;"></div>-->
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(images/bb8.JPG)"></div>
					<!--<div class="main_slider_shapes"><img src="images/main_slider_shapes.png" alt="" style="width: 100% !important;"></div>-->
					<div class="container">
						<div class="row">
							
						</div>
					</div>
				</div>
			</div>

			<!-- Slider Dots -->

			<div class="main_slider_dots">
				<div class="container">
					<div class="row">
						<div class="col">
							<ul id="main_slider_custom_dots" class="main_slider_custom_dots">
								<li class="main_slider_custom_dot active">01.</li>
								<li class="main_slider_custom_dot">02.</li>
								<li class="main_slider_custom_dot">03.</li>
							</ul>
						</div>
					</div>
				</div>		
			</div>

			<!-- Slider Dots -->

			<div class="main_slider_nav_left main_slider_nav">
				<i class="fas fa-chevron-left trans_300"></i>
			</div>

			<div class="main_slider_nav_right main_slider_nav">
				<i class="fas fa-chevron-right trans_300"></i>
			</div>

		</div>
	</div>

	<div class="home_social_container d-flex flex-row justify-content-end align-items-center">
		<ul class="home_social">
			<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
		</ul>
	</div>
		
	<!-- Features -->

	<div class="features" id="features">
		<div class="container">
			<div class="row align-items-end">

				<!-- Features Item -->
				<div class="col-lg-4 features_col">
					<div class="features_item d-flex flex-column align-items-center justify-content-end text-center">
						<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="images/workshop_icon.png" alt="">
						</div>
						<h3>Workshops</h3>
						<p>RoboCET has conducted numerous workshops and classes on Robotics in various engineering colleges across Kerala.</p>
					</div>
				</div>
				
				<!-- Features Item -->
				<div class="col-lg-4 features_col">
					<div class="features_item d-flex flex-column align-items-center justify-content-center text-center">
						
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="images/competition.png" alt="">
						</div>
						<h3>Competitions</h3>
						<p>At present, RoboCET conducts challenges and competetions for the students of College of Engineering Trivandrum. A Line Follower Competetion is carried out every year for admitting new members every year.</p>
					</div>
				</div>
				
				<!-- Features Item -->
				<div class="col-lg-4 features_col">
					<div class="features_item d-flex flex-column align-items-center justify-content-center text-center">
						<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="images/icon_3.svg" alt="">
						</div>
						<h3>Events</h3>
						<p>RoboCET is an integral part of all technical events and activities taking place in College of Engineering Trivandrum, like Drishti, CETex, etc.</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about prlx_parent" id="aboutus">
		<!-- https://unsplash.com/@nativemello -->
		<div class="about_background prlx" style="background-image:url(images/about1.JPG)"></div>
		<div class="about_shapes"><img src="images/about_shapes.png" alt=""></div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 text-center section_title">
					<h2 style="color:#e71414">About Us</h2>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-6">
					<div class="about_text" >
						<p>RoboCET, the robotics club of the College of Engineering, Trivandrum, was conceived with the aim of enriching the culture of our college, with an active interest in advanced technology. It is a community of students of the college who have a passion for building things. It's a place where students are encouraged to make and break things, truly giving life to the words “learning by doing”. Another important aim of the club is to augment knowledge related to hobby robotics. This would help the posterity to achieve greater heights and have a faster, nonetheless steeper, learning curve.Today, after 8 years of its inception, RoboCET is one of the most active technical clubs in CET and is well known among the college community of the state. It's headed by a team of motivated students with the guidance of a staff advisor. It has been involved in various technical activities both inside and outside the college and is the main source of technical input to major events of CET like Drishti, Dhwani and CETEX.RoboCET is a completely student-run club. Students are attracted to the club solely due to their passion and eagerness to learn new things</p>
						
					</div>
				</div>

				<div class="col-lg-6">
					<div class="skills_container">
						<ul class="progress_bar_container col_12 clearfix">
							<li class="pb_item">
								<div id="skill_1_pbar" class="skill_bars" data-perc=".75" data-name="skill_1_pbar"></div>
								<h5>Robotics</h5>
							</li>
							<li class="pb_item">
								<div id="skill_2_pbar" class="skill_bars" data-perc=".70" data-name="skill_2_pbar"></div>
								<h5>design</h5>
							</li>
							<li class="pb_item">
								<div id="skill_3_pbar" class="skill_bars" data-perc="0.60" data-name="skill_3_pbar"></div>
								<h5>projects</h5>
							</li>
							<li class="pb_item">
								<div id="skill_4_pbar" class="skill_bars" data-perc="0.95" data-name="skill_4_pbar"></div>
								<h5>inspiration</h5>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		
	</div>

	<!-- Testimonials -->

	<div class="testimonials" id="theteam">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 text-center section_title section_title_dark">
					<h2>The Team</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="testimonials_container">
						<div class="testimonials_container_inner"></div>

						<!-- Testimonials Slider -->

						<div class="owl-carousel owl-theme testimonials_slider">

							
							
							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="images/Basil.jpg" ></div>
									<div class="test_name">Basil Mathai</div>
									<div class="test_title">Chairman</div>
									
									
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="images/AnandSai.jpg" ></div>
									<div class="test_name">Anand Sai</div>
									<div class="test_title">Vice Chairman</div>
									
									
								</div>
							</div>

							<!-- Testimonials Item--> 
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="images/Nahil.jpeg" alt="https://unsplash.com/@michaeldam"></div>
									<div class="test_name">Nahil Ahmed</div>
									<div class="test_title">Web Admin</div>
									
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="images/Amal.jpg" alt="https://unsplash.com/@michaeldam"></div>
									<div class="test_name">Amal Ashok</div>
									<div class="test_title">Web Admin</div>
									
								</div>
							</div>

						</div>

					</div>
				</div>

				 <!--Testimonials Slider Navigation -->  

				<div class="test_slider_nav test_slider_nav_left d-flex flex-column justify-content-center align-items-center trans_200">
					<i class="fas fa-chevron-left trans_200"></i>
				</div>

				<div class="test_slider_nav test_slider_nav_right d-flex flex-column justify-content-center align-items-center trans_200">
					<i class="fas fa-chevron-right trans_200"></i>
				</div>

			</div>
		</div>
	</div>








	<!-- Services -->

	<div class="services prlx_parent">
		<!-- artist: https://unsplash.com/@nativemello -->
		<div class="services_background prlx" style="background-image:url(images/services_background.jpg)"></div>
		<div class="services_shapes"><img src="images/services_shapes.png" alt=""></div>

		<div class="container">
			<div class="row">

			<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_1.svg" alt="">
					</div>
					<h3>Project Coordination</h3>
					<p>
						<ul>
							<li>Aby Abraham</li>
							<li>Athira P Babu</li>
						</ul>
					</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_2.svg" alt="">
					</div>
					<h3>Design</h3>
					<p><ul>
						<li>Jibin Jose</li>
						<li>Vincy Vishwanath</li>
					</ul></p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_3.svg" alt="">
					</div>
					<h3>Workshop Coordination</h3>
					<p><ul>
						<li>Samanyu A Saji</li>
						<li>Mohammed Bilal A</li>
					</ul></p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_4.svg" alt="">
					</div>
					<h3>Event Coordination</h3>
					<p><ul>
						<li>Nandu Krishnadev</li>
						<li>Vishnu UV</li>
					</ul></p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_5.svg" alt="">
					</div>
					<h3>Inventory Management</h3>
					<p><ul>
						<li>Mohammed Dilbar TK</li>
						<li>Muhammed Suhail CR</li>
					</ul></p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/icon_6.svg" alt="">
					</div>
					<h3>Simulation Team</h3>
					<p><ul>
						<li>Hamraz Samad PN</li>
						<li>Kiran KS</li>
					</ul></p>
				</div>

			</div>

			
		</div>
	</div>

	<!-- Clients -->

	

	<!-- Contact -->

	<div class="contact prlx_parent" id="contact">
		<!-- <div class="contact_background parallax-window" data-parallax="scroll" data-speed="0.7" data-image-src="images/contact_background.jpg"></div> -->
		<div class="contact_background prlx" style="background-image: url(images/contact_background.jpg);"></div>
		<div class="contact_shapes"><img src="images/contact_shape.png" alt=""></div>
		<div class="container">
			
			<div class="row">
				<div class="col-lg-6 offset-lg-3 text-center section_title contact_title">
					<h2>Contact Us</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center contact_text">
					<p>Sreekaryam-Kulathoor road, Chavadimukk,<br>
						Engineering College P.O<br>
						Thiruvananthapuram, Kerala, India<br>
						Don Dominic - 9496399300<br>
						Sebin Baby     - 9495019455<br>
						 <br>
						teamrobocet@gmail.com</p>
					<div class="button contact_button">
						<a href="login.html" class="d-flex flex-row align-items-center justify-content-center">Login<img src="images/arrow_right.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
				<div class="col-sm-6 cr text-sm-left text-center">
					<p> This Website is made with <i class="fa fa-heart" aria-hidden="true"></i> by RoboCET website Team</a></p>
				</div>
				<div class="col-sm-6 text-sm-right text-center">
					<div class="footer_social_container">
						<ul class="footer_social">
							
							<li><a href="facebook.com/robocet"><i class="fab fa-facebook-f trans_300"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
							<!--<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
							<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>-->
							<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/custom.js"></script>
</body>

</html>