<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    
</head>
<body>
    <header>
    <% include ../partials/header %>
    <% include ../partials/footercss %>
    </header>
    <h1 align="center" style="font-family: Oswald;"><b>User Signup</b></h1>
    <br>
    <form class="form-horizontal" action="/routes/reg-controller" method="POST" name="myform">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"placeholder="Enter Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">College:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="college" placeholder="Enter College" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Department</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="department"placeholder="Enter Department" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Semester</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="semester"placeholder="Enter Semester" required>
            </div>
        </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Sign up!!</button>
            </div>
          </div>
        </form>
        <br><br>
        <% include ../partials/footer %>
        <script>
            function submitForm() {         
              var frm = document.getElementsByName('myform')[0];
              frm.submit(); // Submit the form
              frm.reset();  // Reset all form data
              return false; // Prevent page refresh
            }
        </script>     
</body>
</html>